<div class="navbar">
    <div class="title">Tast'emTales</div>
    <% if (userIsSignedIn) { %>
      <a href="/logout">Logout</a>
      <a href="/profile">Profile</a>
      <a href="/about">About</a>
      <a href="/">Home</a>
    <% } else { %>
      <a href="/login.html">Login</a>
      <a href="/about">About</a>
      <a href="/">Home</a>
    <% } %>
  </div>